

.pageTwo {
    width: 100%;
    height: 100%;
    /* background-color: aquamarine; */
    margin-top: 250px;
    padding: 50px 0px;
    /* padding-top: 0; */
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.formBox{
    flex-basis: 50%;
    margin-right: 20px;
    height: 700px;
    /* background-color: rgb(179, 220, 245); */
    /* overflow-y: scroll; */
    /* background-color: blueviolet; */
}

button {
    color: white;
}

.formBox #formScroll::-webkit-scrollbar {
    display: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    appearance: none;
    -moz-appearance: textfield;
}

button {
    border: 0px;
    outline: 0px;
}

.formBox form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.formBox form #formScroll {
    overflow-y: scroll;
    /* height: 620px; */
}

.formBox button {
    margin-top: 10px;
    font-weight: 600;
    border-radius: 0px;;
    transition: all .2s ease-in-out;
}

legend{
    color: black;
    /* color: rgb(56, 105, 239); */
    color: transparent;
    background-image: linear-gradient(to right, rgb(56, 105, 239), rgb(249, 91, 212));
    background-clip: text;
    font-size: 30px;
    font-weight: 600;
}

.formBox fieldset {
    padding: 20px;
    border: none;;
}

.formBox fieldset div {
    width: 100%;
    margin-top: 10px;
}

.formBox input, textarea {
    background-color: rgb(179, 220, 245);
    border: none;
    box-sizing: border-box;
    padding: 10px;
    font-size: 20px;
    width: 100%;
    font-family: inherit;
    outline: none;
    color: black;
}

textarea {
    height: 150px;
    overflow-wrap: break-word;
    resize: none;
}

#skill .skillFlex {
    display: flex;
    flex-direction: row;
    height: 46.5px;
    align-items: center;
}

#skill .skillFlex button {
    height: 46.5px;
    width: 46.5px;
    margin: 0px;
    font-size: 30px;
    padding: 0px;
    border: none;
    outline: none;
}

#skill .skillFlex div {
    height: 46.5px;
    width: 46.5px;
    margin: 0px;
}

.formBox #fSubmit #formSubmit {
    float: right;
    padding: 20px;
    font-size: 20px;
    border-radius: 0px;
    font-weight: 600;
    border: none;
    background-image: linear-gradient(to right, rgb(56, 105, 239), rgb(249, 91, 212));
}

.formBox button:hover {
    transform: scale(0.95);
}

label{
    color: black;
    font-weight: 600;
}

.formBox div.tDuration {
    display: flex;
    justify-content: space-between;
}

.formBox div.tDuration div{
    display: flex;
    flex-direction: column;
    flex-basis: 48%;
}

.formBox fieldset div.half {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.formBox fieldset div.half input{
    flex-basis: 48%;
}

.remove{
    width: 100%;
}

.remove button{
    float: right;
    margin-bottom: 10px;
    outline: none;
}

.remove button:hover {
    background-color: red;
}

.formBox button.add {
    margin-top: 20px;
    background-color: rgb(56, 105, 239);
}

.formBox button.add:hover {
    background-color: black;
}

.checkBox {
    color: black;
    font-weight: 600;
    display: flex;
}

.checkBox input {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: rgb(56, 105, 239);
}

div[disabled] {
    pointer-events: none;
    cursor: not-allowed !important;
    /* opacity: 0.5; */
    filter: grayscale(0.7);
    cursor: not-allowed;
}

@media screen and (max-width: 1240px) {
    .pageTwo {
        flex-direction: column;
        /* overflow-x: scroll; */
    }

    .formBox form #formScroll {
        height: fit-content;
    }
    
    .formBox {
        margin-bottom: 70px;
        margin-right: 0;
        height: fit-content;
    }

    .pageTwo::-webkit-scrollbar {
        display: none;
    }
}

@media screen and (max-width: 525px) {
    .formBox fieldset div.half, 
    .formBox div.tDuration{
        flex-direction: column;
        gap: 10px;
    }
}
