@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');


:root {
    --grey: rgb(219, 218, 218);
}

.cvDisplay {
    flex-basis: 50%;
    display: grid;
    place-items: center;
    font-family: 'Montserrat', sans-serif;
    color: black;
    box-sizing: border-box;
    font-weight: 300;
}

.cvDisplay::-webkit-scrollbar {
    display: none;
}

#cvPaper {
    margin: auto;
    height: 650px;
    width: 460.42px;
    background-color: white;
    padding: 30px;
    padding-bottom: 40px;
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.382);
    text-transform: uppercase;
    /* display: none; */
}

#cvPaper h3 {
    color: rgb(145, 144, 144);
}

.wrkExp p.resp {
    text-transform: capitalize;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 110px 1fr;
    gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 1 / -1 ;
    padding-bottom: 20px;    
}

.div1 h1 {
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 5px;
}

.div1 h1 span {
    font-weight: 500;
}

.cvDisplay p {
    font-size: 8px;
    padding-right: 30px;
    text-align: justify;
    width: 100%;
}

.cvDisplay h2 {
    text-align: left;
    letter-spacing: 4px;
    font-family: 'Montserrat', sans-serif;
    font-size: 8px;
    margin: 0px;
}

.cvDisplay ul li {
    font-size: 8px;
    margin-top: 5px;
}

.cvDisplay ul {
    padding: 0px;
    padding-top: 5px;
    margin: 0px;
    list-style: none;
    width: 100%;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.cvDisplay h3, .cvDisplay ul li {
    font-size: 8px;
}

.cvDisplay .div1 .title h2 {
    text-align: center;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    padding: 5px 0px;
}

.div2 {
    grid-area: 2 / 1 / 2 / 3;
    border-right: 1px solid var(--grey);
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.div3 .companyName {
    display: flex;
    justify-content: space-between;
}

.div3 {
    grid-area: 2 / 3 / 2 / -1;
    padding-left: 20px;
}

.cvDisplay .div3 ul {
    list-style: circle;
    padding-left: 10px;
    display: block;
    padding-top: 0px;
}

.cvDisplay .div3 ul li p {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

.cvDisplay .div3 .resp p {
    margin: 0px;
} 

.cvDisplay .wrkExp {
    margin-bottom: 30px;
    margin-top: 3px;
}

.div3 #wrkList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.div3 #wrkList div.wrkExp:last-child {
    margin-bottom: 0px;
}

.icon {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.icon p {
    margin: 0;
    padding-left: 5px;
}

@media screen and (max-width: 750px) {
    #cvPaper {
        box-shadow: none;
        width: 90%;
        padding: 0;
        margin-bottom: 150px;
    }

    .page {
        padding: 0 20px;
        margin-bottom: 70px;
    }
}