@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;600&display=swap');

#root {
  width: 100%;
  height: 100vh;
  padding: auto;
  display: grid;
  place-items: center;
  background: url(../assets/rootBg.png) no-repeat;
  background-size: cover; 
  position: fixed;
  font-family: 'Afacad', sans-serif;
}

.landingMessage{
  height: 800px;
  width: 90%;
  /* min-width: 1350px; */
  margin: auto;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 0 18px 0px #0000008a;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
}

.page{
  padding: 0 70px;
  height: 800px;
  /* width: 1360px; */
  width: 100%;
  margin: auto;
  border-radius: 30px;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  transition: top .5s;
}

.pageOne{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  height: 700px;
}

.logo{
  color: black;
  font-size: 50px;
  font-weight: 600;
}

.One{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Two{
  width: 700px;
  margin-left: -800px;
  /* background-color: rgb(56, 105, 239); */
  position: relative;
}

h1.hOne{
  color: black;
  width: 50%;
  font-size: 80px;
  line-height: 70px;
  font-weight: 600;
  text-transform: uppercase;
}

h1.hOne span {
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, rgb(56, 105, 239), rgb(249, 91, 212));
  background-clip: text;
}

.lImg{
  height: 700px;
  width: 700px;
  background-color: blueviolet;
  right: 350px;
  /* background: url(../assets/profileIcon.png) no-repeat; */
  background: url(../assets/handshake.png) no-repeat;
  background-size: cover;
  background-position: center;
  transform: scaleX(-1)
}

button.lBtn{
  padding: 20px;
  font-size: 20px;
  border-radius: 0px;
  background-image: linear-gradient(to right, rgb(56, 105, 239), rgb(249, 91, 212));
  font-weight: 600;
  border: none;
  width: fit-content;
  transition: all .2s ease-in-out;
}

button.lBtn:hover{
  transform: scale(0.95);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.swing {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  float: left;
  transform: scaleX(-1)
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); */
}


@keyframes swing {
  0% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(-3deg);
  }
}

@media screen and (max-width: 1480px){
  .Two {
    display: none;
  }

  .One {
    align-items: center;
  }

  .One .hOne {
    text-align: center;
    font-size: 80px;
    /* margin-top: 100px; */
    line-height: 80px;
  }
}

@media screen and (max-width: 1240px) {
  .One .hOne {
    width: 15ch;
  }
}

@media screen and (max-width: 650px) {
  .One .hOne {
    font-size: 70px;
    line-height: 70px;
  }
}

@media screen and (max-width: 600px) {
  .landingMessage {
    width: 100%;
  }
}

@media screen and (max-width: 490px) {
  .One .hOne {
    font-size: 50px;
    line-height: 50px;
  }
}